/DATA
*csv
/exercise_wise_ml_pipelines/hopping/data
/exercise_wise_ml_pipelines/hopping/peak_plots
/exercise_wise_ml_pipelines/hopping/segment_csvs
/exercise_wise_ml_pipelines/hopping/segment_plots
/exercise_wise_ml_pipelines/hopping/features_output
/exercise_wise_ml_pipelines/hopping/*.tflite
/exercise_wise_ml_pipelines/criss_cross_with_clap/data
/exercise_wise_ml_pipelines/criss_cross_with_clap/peak_plots
/exercise_wise_ml_pipelines/criss_cross_with_clap/segment_csvs
/exercise_wise_ml_pipelines/criss_cross_with_clap/segment_plots
/exercise_wise_ml_pipelines/criss_cross_with_clap/features_output
/exercise_wise_ml_pipelines/criss_cross_with_clap/*.tflite
/exercise_wise_ml_pipelines/hopping/*.tflite
/exercise_wise_ml_pipelines/criss_cross_without_clap/data
/exercise_wise_ml_pipelines/criss_cross_without_clap/peak_plots
/exercise_wise_ml_pipelines/criss_cross_without_clap/segment_csvs
/exercise_wise_ml_pipelines/criss_cross_without_clap/segment_plots
/exercise_wise_ml_pipelines/criss_cross_without_clap/features_output
/exercise_wise_ml_pipelines/criss_cross_without_clap/*.tflite
/exercise_wise_ml_pipelines/ball_bounce_and_catch/data
/exercise_wise_ml_pipelines/ball_bounce_and_catch/peak_plots
/exercise_wise_ml_pipelines/ball_bounce_and_catch/segment_csvs
/exercise_wise_ml_pipelines/ball_bounce_and_catch/segment_plots
/exercise_wise_ml_pipelines/ball_bounce_and_catch/features_output
/exercise_wise_ml_pipelines/ball_bounce_and_catch/*.tflite
/exercise_wise_ml_pipelines/dribbling/data
/exercise_wise_ml_pipelines/dribbling/peak_plots
/exercise_wise_ml_pipelines/dribbling/segment_csvs
/exercise_wise_ml_pipelines/dribbling/segment_plots
/exercise_wise_ml_pipelines/dribbling/features_output
/exercise_wise_ml_pipelines/dribbling/*.tflite
/exercise_wise_ml_pipelines/skipping/data
/exercise_wise_ml_pipelines/skipping/peak_plots
/exercise_wise_ml_pipelines/skipping/segment_csvs
/exercise_wise_ml_pipelines/skipping/segment_plots
/exercise_wise_ml_pipelines/skipping/features_output
/exercise_wise_ml_pipelines/skipping/*.tflite
